@page
@model RazorPages.Pages.Auth.LoginModel
@{
}
<h1>Login</h1>
<form method="post">
    <input type="text" asp-for="LoginData.email" placeholder="enter email" />
    <input type="text" asp-for="LoginData.password" placeholder="enter username" />  
    <button type="submit">Submit</button>


</form>